* {
    --font: Arial;
    --dark: #25502B;
    --medium: #6FC180;
    --light: #D2FFB9;
    --topHeight: 30px;
}

body {
    background-color: var(--dark) !important;
    font-family: var(--font) !important;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
a {
    text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--light) inset !important;
}
header {
    display: inline-block;
    font-size: 20px;
    margin: 0px;
    transform: translateY(-7.5px);
}
iframe {
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - var(--topHeight));
}

.login {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: url(Images/logonbkg.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .login table {
        background-color: #9ABB88;
    }
        .login table th {
            text-align: right;
            padding: 5px;
        }
        .login table td {
            padding: 5px;
        }
    .login input[type=text], .login input[type=password] {
        border: 2px inset #FFFFFF;
        outline: none;
        background-color: var(--light);
    }

.moduleTop {
    width: 100vw;
    height: var(--topHeight);
    padding: 5px;
    background-color: var(--medium);
}
.arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid #171717;
    margin-right: 7px;
}

.moduleHolder {
    width: 100vw;
    height: calc(100vh - var(--topHeight));
    table-layout: fixed;
}
    .moduleHolder td {
        width: 50%;
        height: calc(100vh - 65px);
        background-color: var(--light);
        vertical-align: top;
    }
.modulesRight {
    background-color: var(--medium) !important;
    padding: 7px;
}
.btnModule {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 5px);
    height: calc((100vh - 75px) / 7.25);
    margin: 0px;
    margin-bottom: 5px;
    border-top: 3px outset #779977;
    border-right: 3px outset #171717;
    border-bottom: 3px outset #171717;
    border-left: 3px outset #779977;
    text-decoration: none;
    color: #171717;
    font-size: 2.5rem;
    font-family: 'Times New Roman';
    font-weight: bold;
}
    .btnModule:hover {
        color: var(--light);
        text-shadow: 0px 0px 1px #777777;
    }

.DStiText table {
    background-color: #6FC180;
    font-family: var(--font) !important;
    letter-spacing: 1px;
}

.DSctCrossingsTd, .DSthemeLight .DSctMain.DShasData .DSctViewFiller > .DSctStyleThemeColor, .DSthemeLight .DSctMain.DShasData [DSctLvlSum], .highcharts {
    background-color: var(--light);
    font-family: var(--font) !important;
    letter-spacing: 1px;
}

.DSboHead {
    background-color: var(--medium) !important;
}

*.DSctHorScrollable .DSDivTd, .DSctHeaderAnchor, .DSctHorScrollable .DSctStyleTransparent {
    background-color: var(--dark) !important;
    color: #FFFFFF !important;
    font-family: var(--font) !important;
    letter-spacing: 1px;
}